{
  "BASE_PATH": "$BASE_PATH",
  "OIDC_AUTH": "$OIDC_AUTH",
  "OIDC_CLIENT": "$OIDC_CLIENT",
  "OIDC_REDIRECT_URI": "$OIDC_REDIRECT_URI",
  "API_SERVER": "$API_SERVER",
  "OIDC_API_SCOPE" : "$OIDC_API_SCOPE"
}
